In [1]:
#numpy=序列化好的矩陣或是序列、列表，pandas像是自典形式的numpy

In [1]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,3,6,np.nan,44,1])

In [5]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [29]:
dates = pd.date_range('20160101',periods=6)#periods=5就是說我日期格式要依序排5個

In [5]:
dates#從20160101開始往後生成5個

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])

In [19]:
df #index = row

                   a         b         c         d
2016-01-01  0.647781  0.230983 -0.074035 -0.138206
2016-01-02 -0.024880 -0.999495 -0.318311  0.475480
2016-01-03  0.822251 -0.963349 -0.083740 -1.462074
2016-01-04  0.944848 -0.278751 -1.162789 -2.592689
2016-01-05  0.073678  0.223243  0.583108  0.784491
2016-01-06  1.285339  0.654370 -0.665862 -0.361566

In [21]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))

In [22]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'})

In [24]:
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [34]:
print(df2.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object